<div class="page-container" *ngIf="incomings$ | async as incomings">
    <button [disabled]="incomings?.length == 0" mat-raised-button color="primary" routerLink="organizer">{{ 'incomings.organize' | translate | uppercase}}</button>

    <div class="incomings-list">
        <gtd-incoming-card
                *ngFor="let incoming of incomings; trackBy: trackBy"
                [incoming]="incoming"
                (delete)="deleteIncoming(incoming.id)"
                (update)="update(incoming.id)">
        </gtd-incoming-card>
    </div>

    <div class="add-button-container">
        <button mat-raised-button color="primary" class="floating-add-button" (click)="create()">{{ 'incomings.new' | translate | uppercase}}</button>
    </div>
</div>
