:host {

  form {
    margin-bottom: 1rem;

    .form-fields {
      display: flex;

      mat-form-field {
        flex-grow: 1;
      }
    }
  }

  mat-chip-listbox {
    margin-top: 15px;

    mat-chip {
      .chip-content {
        display: flex;
        gap: 5px;
        align-items: center;
      }
    }
  }
}
