:host {
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    mat-form-field {
      width: 100%
    }

    .chip-content {
      display: flex;
      gap: 5px;
      align-items: center;
    }
  }
}
