<div *ngIf="isReady" class="next-action-form">
    <form [formGroup]="nextActionForm">
        <mat-form-field>
            <mat-label>{{ 'actions.action' | translate }}</mat-label>
            <input matInput type="text" formControlName="label">
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'actions.content' | translate }}</mat-label>
            <textarea matInput type="text" formControlName="content" rows="4"></textarea>
        </mat-form-field>
        <mat-chip-listbox formArrayName="actionTags">
            <mat-chip *ngFor="let control of nextActionForm['controls'].actionTags['controls']; let i = index"
                      [style.background-color]="tags[i].color">
                <mat-checkbox [formControlName]="i">
                    <div class="chip-content">
                        <mat-icon>{{tags[i].icon}}</mat-icon>{{ tags[i].label }}
                    </div>
                </mat-checkbox>
            </mat-chip>
        </mat-chip-listbox>
        <mat-form-field class="example-form-field">
            <mat-label>{{ 'actions.expirationDate' | translate }}</mat-label>
            <input matInput [min]="minDate" [matDatepicker]="datepicker" formControlName="deadlineDate">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker></mat-datepicker>
        </mat-form-field>

        <input type="hidden" formControlName="id">
        <input type="hidden" formControlName="completed">
        <input type="hidden" formControlName="completionDate">
        <input type="hidden" formControlName="creationDate">
        <input type="hidden" formControlName="actionPosition">
        <input type="hidden" formControlName="actionType">
        <input type="hidden" formControlName="project">
    </form>
</div>
