<mat-card #container class="next-action-card-container">
    <mat-card-header (click)="edit()">
        <mat-card-title>
            {{ nextAction.label }}<span *ngIf="nextAction.project"> ({{ nextAction.project.name }})</span>
        </mat-card-title>
        <mat-card-subtitle>{{ nextAction.content }}</mat-card-subtitle>
    </mat-card-header>
  @if (nextAction.actionTags?.length > 0 || !!nextAction.deadlineDate) {
    <mat-card-actions>
        <mat-chip-listbox>
            @if(!!nextAction.deadlineDate) {
                <mat-chip [color]="nextAction.deadlineDate | deadlineColor" highlighted>{{ nextAction.deadlineDate | date: 'shortDate' }}</mat-chip>
            }
            <mat-chip *ngFor="let tag of nextAction.actionTags" [style.background-color]="tag.color">
                <div class="chip-content">
                    <mat-icon>{{ tag.icon }}</mat-icon>
                    <span class="desktop-only">{{ tag.label }}</span>
                </div>
            </mat-chip>
        </mat-chip-listbox>
    </mat-card-actions>
  }

    <mat-card-footer class="next-action-card-form" *ngIf="showForm">
        <form [formGroup]="creationForm" (ngSubmit)="submitForm()">
            <gtd-next-action-form
                    formControlName="nextAction"
                    [tags]="tags">
            </gtd-next-action-form>

            <div class="incoming-buttons">
                <button mat-raised-button color="primary" type="submit" [disabled]="!creationForm.valid">{{ 'actions.form.add' | translate | uppercase}}</button>
                <button mat-raised-button color="primary" type="submit" [disabled]="!creationForm.valid"
                        (click)="this.isWaitingAction = true">{{ 'actions.waiting' | translate | uppercase}}
                </button>
            </div>
        </form>
    </mat-card-footer>

    <div class="next-action-card-buttons">
        <button mat-mini-fab color="warn" *ngIf="nextAction.project" (click)="closeActionAndProject()">
            <mat-icon>delete_forever</mat-icon>
        </button>
        <button mat-mini-fab color="warn" (click)="closeAction()">
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-mini-fab color="primary" *ngIf="nextAction.project" (click)="toggle()">
            <mat-icon>add_circle</mat-icon>
        </button>
        <button mat-mini-fab color="primary" *ngIf="nextAction.actionType === ActionType.MAYBE" (click)="switchToStandard()">
            <mat-icon>arrow_forward</mat-icon>
        </button>
        <button mat-mini-fab color="primary" [cdkCopyToClipboard]="nextAction.label"><mat-icon>file_copy</mat-icon></button>
    </div>
</mat-card>
