.page-container {

  .checklists-list {
    margin-bottom: 20px;

    .checklist {
      display: flex;
      justify-content: space-between;
      border: 1px solid black;
      background: white;
      border-radius: 5px;
      margin: 10px 0;
      cursor: pointer;

      .checklist-title {
        width: 75%;
        padding: 10px 25px;
        font-size: 1.15em;
        margin: 3px 0;
      }
      .checklist-actions {
        margin: auto 25px auto 0;
      }
    }
  }
  .checklist-title {

  }

  .checklist-add {
    width: 100%;

    button {
      width: 100%;
    }
  }
}
