.page-container {
  .incoming-details {
    margin-bottom: 35px;
  }

  .create-form {

    mat-form-field {
      width: 100%;
    }
    .incoming-buttons {
      margin: 20px 0;

      button {
        margin: 0 10px;
      }
    }
  }
}
