@import '../../../assets/scss/_colors';
@import '../../../assets/scss/_vars';
@import '../../../assets/scss/_mixins';

.page-container {

  mat-button-toggle-group {
    display: flex;
    width: 100%;
    margin-bottom: 16px;
    height: 32px;
    align-items: center;

    mat-button-toggle {
      flex-grow: 1;
    }
  }

  .search-bar-container {
    border: 1px solid $green-dark;
  }

  .next-actions-list {
    margin-bottom: 70px;

    @include not-mobile {
      margin-top: 35px;
    }
  }

  gtd-next-action-card {
    display: block;
    margin-bottom: 10px;
  }
}
