@charset "utf-8";

@mixin mobile-only {
  @media (width < $mobile-limit) {
    @content;
  }
}

@mixin desktop-only {
  @media (min-width: $mobile-limit) and (max-width: $desktop-limit) {
    @content;
  }
}

@mixin maxi-only {
  @media (width > $desktop-limit) {
    @content;
  }
}

@mixin not-mobile {
  @media (width >= $mobile-limit) {
    @content;
  }
}

@mixin mob-and-other($property, $mobp, $otherp) {
  @include mobile-only {
    #{$property}: $mobp;
  }
  @include not-mobile {
    #{$property}: $otherp;
  }
}
