@charset "utf-8";

/** Import my local vars **/
@import "_colors";
@import "_vars";
@import "_mixins";

/** Import a Google Font **/
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

/** GLOBAL **/
html, body {
    height: 100%;

    font-size: 14px;
    @include mobile-only {
        font-size: 10px;

        .mat-card-header .mat-card-title {
            font-size: 14px;
        }
        .mat-card-subtitle {
            font-size: 12px;
        }
    }
    overflow: hidden !important;
}
