<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
                 [attr.role]="isHandset ? 'dialog' : 'navigation'"
                 [mode]="'over'"
                 [(opened)]="isSidenavOpen">
        <mat-toolbar>GTD</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="/incomings" routerLinkActive="active-button">
                <mat-icon>note_add</mat-icon>
                {{ 'incomings.incomings' | translate | uppercase }}
            </a>
            <a mat-list-item routerLink="/projects" routerLinkActive="active-button">
                <mat-icon>folder</mat-icon>
                {{ 'projects.projects' | translate | uppercase }}
            </a>
            <a mat-list-item routerLink="/nextActions" routerLinkActive="active-button">
                <mat-icon>list</mat-icon>
                {{ 'actions.actions' | translate | uppercase }}
            </a>
            <a mat-list-item routerLink="/tags" routerLinkActive="active-button">
                <mat-icon>sell</mat-icon>
                {{ 'tags.tags' | translate | uppercase }}
            </a>
            <a mat-list-item routerLink="/checklists" routerLinkActive="active-button">
                <mat-icon>check_box</mat-icon>
                {{ 'checklists.checklists' | translate | uppercase }}
            </a>
            <a mat-list-item aria-label="Logout button" (click)="logout()">
                <mat-icon>logout</mat-icon>
                {{ 'global.logout' | translate | uppercase }}
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary" class="mat-elevation-z3">
            <ng-container *ngIf="isHandset; else desktopToolbar">
                <button
                        type="button"
                        aria-label="Toggle sidenav"
                        mat-icon-button
                        (click)="drawer.toggle()">
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
                <a mat-icon-button routerLink="/incomings" routerLinkActive="active-button">
                    <mat-icon>note_add</mat-icon>
                </a>
                <a mat-icon-button routerLink="/projects" routerLinkActive="active-button">
                    <mat-icon>folder</mat-icon>
                </a>
                <a mat-icon-button routerLink="/nextActions" routerLinkActive="active-button">
                    <mat-icon>list</mat-icon>
                </a>
                <a mat-icon-button routerLink="/tags" routerLinkActive="active-button">
                    <mat-icon>sell</mat-icon>
                </a>
                <a mat-icon-button routerLink="/checklists" routerLinkActive="active-button">
                    <mat-icon>check_box</mat-icon>
                </a>
                <a mat-icon-button aria-label="Logout button" (click)="logout()">
                    <mat-icon>logout</mat-icon>
                </a>
            </ng-container>
            <ng-template #desktopToolbar>
                <a mat-button routerLink="/incomings" routerLinkActive="active-button">
                    <mat-icon>note_add</mat-icon>
                    {{ 'incomings.incomings' | translate | uppercase }}
                </a>
                <a mat-button routerLink="/projects" routerLinkActive="active-button">
                    <mat-icon>folder</mat-icon>
                    {{ 'projects.projects' | translate | uppercase }}
                </a>
                <a mat-button routerLink="/nextActions" routerLinkActive="active-button">
                    <mat-icon>list</mat-icon>
                    {{ 'actions.actions' | translate | uppercase }}
                </a>
                <a mat-button routerLink="/tags" routerLinkActive="active-button">
                    <mat-icon>sell</mat-icon>
                    {{ 'tags.tags' | translate | uppercase }}
                </a>
                <a mat-button routerLink="/checklists" routerLinkActive="active-button">
                    <mat-icon>check_box</mat-icon>
                    {{ 'checklists.checklists' | translate | uppercase }}
                </a>
                <a mat-icon-button aria-label="Logout button" (click)="logout()">
                    <mat-icon>logout</mat-icon>
                    {{ 'global.logout' | translate | uppercase }}
                </a>
            </ng-template>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
