<mat-card [class.action-needed]="needAction">
    <mat-card-header (click)="toggleDetails()">
        <mat-card-title>{{ project.name }}</mat-card-title>
    </mat-card-header>
    <button mat-mini-fab color="primary" class="x-button copy-btn" [cdkCopyToClipboard]="project.name">
        <mat-icon>file_copy</mat-icon>
    </button>
    <button mat-mini-fab color="warn" class="x-button delete-btn" (click)="confirmDelete(deleteConfirmation)">
        <mat-icon>delete</mat-icon>
    </button>
    <mat-card-content *ngIf="showActions" (click)="toggleDetails()">
        <mat-list dense>
            <mat-list-item *ngFor="let action of project?.actions" [class.completed]="action.completed">
                {{action.label}}
            </mat-list-item>
        </mat-list>
    </mat-card-content>
    <mat-card-footer *ngIf="showActions && needAction">
        <form [formGroup]="creationForm" (ngSubmit)="submitForm()">
            <gtd-next-action-form
                    formControlName="nextAction"
                    [tags]="tags">
            </gtd-next-action-form>

            <button mat-raised-button color="primary" type="submit" [disabled]="!creationForm.valid">{{ 'actions.form.add' | translate }}</button>
            <button mat-raised-button color="primary" type="submit"
                    [disabled]="!creationForm.valid"
                    (click)="this.isWaitingAction = true">{{ 'actions.types.waiting' | translate }}
            </button>
        </form>
    </mat-card-footer>
</mat-card>

<ng-template #deleteConfirmation>
    <h2 matDialogTitle>{{ 'projects.delete.title' | translate }}</h2>
    <mat-dialog-content>
        <p>{{ 'projects.delete.confirm' | translate }}</p>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button [mat-dialog-close]="true" color="primary">{{ 'global.delete' | translate }}</button>
        <button mat-button [mat-dialog-close]="false" color="primary">{{ 'global.cancel' | translate }}</button>
    </mat-dialog-actions>
</ng-template>
