@import '../../../assets/scss/_colors';
@import '../../../assets/scss/_vars';
@import '../../../assets/scss/_mixins';

:host {

  mat-card {

    &.action-needed {
      border: 2px solid #b72115;
    }

    mat-card-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      mat-card-title {
        margin-bottom: 0;
      }
    }

    mat-list-item.completed {
      text-decoration: line-through;
    }

    &:hover {
      box-shadow: 0 0 0 4px rgba(black, 0.068);
      cursor: pointer;

      .x-button {
        opacity: 1;
        transition-delay: 0.3s;
        transform: scale(1);
      }
    }

    mat-card-footer {
      form {
        width: 85%;
        margin: 30px auto;
      }

      button {
        margin: 15px;
      }
    }

    .x-button {
      position: absolute;

      top: 7px;
      height: 34px;
      width: 34px;

      &.copy-btn {
        right: 60px;
      }
      &.delete-btn {
        right: 12px;
      }

      @include not-mobile {
        opacity: 0;
        transition: opacity 0.1s, transform 0.1s ease-out;
        transform: scale(0.35);
      }
    }
  }
}
