@import '../../../assets/scss/_colors';
@import '../../../assets/scss/_vars';
@import '../../../assets/scss/_mixins';

:host {
  mat-card {

    mat-card-title span {
      font-size: 12px;
      color: rgba(0,0,0,.54);
    }

    mat-card-subtitle {
      margin-bottom: 0;
    }

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 0 4px rgba(black, 0.068);

      .x-button {
        opacity: 1;
        transition-delay: 0.3s;
        transform: scale(1);
      }
    }
  }

  .x-button {
    position: absolute;

    top: 5px;
    &.copy-btn {
      right: 60px;
    }
    &.delete-btn {
      right: 12px;
    }


    @include not-mobile {
      opacity: 0;
      transition: opacity 0.1s, transform 0.1s ease-out;
      transform: scale(0.35);
    }
  }
}
